/* Start Global Rules
************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* font-size = 10px */
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../Images/istockphoto-1187294384-612x612.jpg);
  background-size: cover;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans Condensed", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style: none;
}

/* Small 
************************************/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium 
************************************/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large 
************************************/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules
************************************/

/* Start Book Shelf
************************************/

.book-shelf {
  padding: 6.5em;
  border-radius: 4px;
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5rem;
}

.book {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom: #d7711e solid 0.9rem;
  box-shadow: 0px 20px 20px 0;
  border-radius: 1rem;
  padding: 2rem;
}

.title {
  color: burlywood;
  text-transform: capitalize;
  font-size: 18px;
  display: block;
  transform: translateY(6px);
  letter-spacing: 2px;
  margin-top: 1.5rem;
  font-size: 2.6rem;
}

.author {
  letter-spacing: 2px;
  padding-top: 10px;
  color: white;
  text-transform: capitalize;
  font-style: italic;
  display: block;
  transform: translateY(6px);
  margin-top: 0.5rem;
  font-size: 2.1rem;
}

.book img {
  transition: 0.5s;
  position: relative;
  width: 8rem;
}
.book:hover img {
  transform-origin: center;
  transform: scale(2);
  z-index: 10;
}

/* End book
***************************************** */

/* Start Add book
***************************************** */
.upload-btn {
  font-size: 2.5rem;
  position: fixed;
  right: 5rem;
  padding: 1rem;
  background: #d7711e;
  color: white;
  bottom: 7rem;
  font-weight: bold;
  border: none;
  border-bottom: #833a00 solid 0.8rem;
  cursor: pointer;
  z-index: 99;
}

form {
  background: #161413;
  border-radius: 0.8rem;
  font-size: 3rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 6rem 2.5rem;
  transition: 0.3s;
  opacity: 0;
  z-index: -44;
}

form.active {
  opacity: 1;
  z-index: 999;
  transition: 0.5s;
}

.inputField {
  width: 35rem;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  color: white;
  font-weight: bold;
}
.inputField input {
  padding: 0.5rem 1rem;
  caret-color: #833a00;
  outline: none;
}
form input[type="submit"] {
  font-weight: bold;
  color: #833a00;
  cursor: pointer;
  transition: 0.2s;
}
form input[type="submit"]:hover {
  color: #d7711e;
}
/* End Add book
***************************************** */
/* Msgs */
.error {
  display: none;
  color: red;
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
  transform: translateY(-3rem);
}

.success {
  color: burlywood;
  font-weight: bold;
  text-transform: capitalize;
  display: none;
  font-size: 2.5rem;
  text-align: center;
  transform: translateY(-3rem);
}
