/* Start Variables
************************************/
:root {
  --shelfColor: #08393d;
}
/* End Variables
************************************/

/* Start Global Rules
************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../Images/istockphoto-1187294384-612x612.jpg);
  background-size: cover;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans Condensed", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style: none;
}

/* Small 
************************************/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium 
************************************/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large 
************************************/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules
************************************/

/* Start Book Shelf
************************************/

.bookContainer {
  padding: 6.5em 0;
  border-radius: 4px;
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  gap: 5em 2em;
}
/* start book
***************************************** */
.book {
  z-index: 3;
  box-shadow: 0px 15px 0 0px var(--shelfColor);
  border-radius: 20px;
  padding: 1em;
  text-align: center;
  cursor: pointer;
}
span.title {
  color: burlywood;
  text-transform: capitalize;
  font-size: 18px;
  display: block;
  transform: translateY(6px);
  letter-spacing: 2px;
}
span.author {
  letter-spacing: 2px;
  padding-top: 10px;
  color: white;
  text-transform: capitalize;
  font-style: italic;
  display: block;
  transform: translateY(6px);
}

.book img {
  transition: 0.2s;
  position: relative;
  width: 4em;
}
.book:hover img {
  transform-origin: center;
  transform: scale(2) rotatey(360deg);
  z-index: 10;
}

/* End book
***************************************** */

/* start add new book form
***************************************** */
.add-button {
  position: fixed;
  right: 0%;
  top: 10%;
  transform: translate(-50%, -50%);
  z-index: 5;
  cursor: pointer;
  padding: 0.5em;
  color: white;
  background-color: green;
  border: none;
}

form.add-book {
  position: relative;
}

.close {
  position: fixed;
  right: -7px;
  top: 19px;
  transform: translate(-50%, -50%);
  z-index: 5;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 2.1em;
}

.window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.window.active {
  display: block;
  z-index: 6;
}

.bookContainer.active {
  opacity: 0.4;
}

.add-book {
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  background-color: var(--shelfColor);
}

.input {
  border-radius: 6px;
  padding: 0.7em 1em;
  width: 15em;
  margin: 1em;
}

.error {
  color: red;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  display: none;
}

/* start add new book form
***************************************** */
